.allBooksContainer{
    margin-top: 10em;
    display: flex;
    width: 100%;
}
.bottomRightPartAllBooks{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
.bottomRightPartAllBooksSecond{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-left: 1em;
    margin-right: 1em;
}
.rightPartAllBooks{
    width: 85%;
}
.leftSideBarAllBooks{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 1em;
}
.categoryItems{
    transition: .5s;
}
.categoryItems:hover{
    color:#5A8F7B ;
    text-decoration: underline;
    cursor: pointer;
}
.topRightPartAllBooks{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    padding-bottom: 2em;
}
.topRightItemsLogo{
    display: flex;
    gap: 10px;
}
.topRightItemsLogo div{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputAllBooks{
    width: 80%;
    height: 2em;
    border-radius: 5px;
}
.inputAllBooks input{
    background-color: #F5F7F9;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.inputAllBooks input:focus{
    outline: none;
    border: solid 1px #5A8F7B;
}
.cardContainer{
    width: 15em;
    height: 400px;

}
.cardContainer2{
    width: 80%;
    height: 300px;
}
.green{
    color:#5A8F7B ;
    font-weight: bold;
}
.authors{
    cursor: pointer;
}
.dropdownAuthors{
    width: 100%;
    height: 3em;
    font-size: medium;
    background-color: #f8f9fa;
    border: none;
    border-radius: 5px;
    transition: 0.1s;
}
.dropdownAuthors:hover{
    border: grey 3px solid;
}
@media (max-width: 800px){
    .allBooks{
        width: 100vw;
    }
    .bottomRightPartAllBooks{
        justify-content: center;
        align-items: center;
        /* margin: 0; */
    }
    .inputAllBooks{
        width: 40%;
    }
    .categoryFilters{
        height: 200px;
        overflow-y: scroll;
        /* flex-wrap: wrap; */
        width: 50vw;
    }

    .leftSideBarAllBooks{
        width: 100%;
        flex-direction: row;
        margin-bottom: 3em;
    }
    .allBooksContainer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .topRightPartAllBooks{
        justify-content: center;
        align-items: center;
        gap: 1em;
        width: 100%;
        margin: auto;
    }
    .cardContainer2{
        width: 100%;
        height: 50vh;
    }
}
