@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Poppins&display=swap');
/* @import "framer-motion/styles.css"; */
body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  position: relative;
}
h1,h2,h3{
  font-family: 'Philosopher', sans-serif;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
  color: #293e4c;
  padding-left: 5%;
  padding-right: 5%;
  position: fixed; 
  top: 0;
  background-color: white;
  z-index: 900;
  width: 90%;
}
footer{
  background-color: #2F4858;
  color: white;
}



/* ______________RESPONSIVE_________________ */

@media (max-width: 800px){
   nav{
    /* display: block;
    color: #293e4c;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed; 
    top: 0;
    background-color: white;
    z-index: 900;
    width: 90%; */
    display: block;
  } 
}




