.carouselContainer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: #f6f8fa;
    height: 700px;
    margin-top: 7vh;
    position: relative;
}

.leftCarousel {
    display: flex; 
    margin-left: 1.25rem; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    width: 50%; 
    gap: 3rem; 
}

.leftCarouselTop {
    display: flex; 
    flex-direction: column; 
    gap: 1.25rem; 
}

.divInvest {
    font-size: 1.25rem;
    line-height: 1.75rem; 
    font-weight: 600; 
    color: #5f8d7c;
}

.divFriend {
    font-size: 3rem;
    line-height: 1; 
    font-weight: 700; 
}

.leftCarouselLorem {
    font-size: 1.5rem;
    line-height: 2rem; 
    color: #797e84;    
}

.carouBtn {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; 
    padding-left: 2.5rem;
    padding-right: 2.5rem; 
    color: #ffffff; 
    font-size: 1.25rem;
    line-height: 1.75rem; 
    font-weight: 500; 
    border-radius: 0.25rem; 
    background: #5a8e7a;
    border: none;
    cursor: pointer;
}

.rightCarousel {
    display: flex; 
    justify-content: center; 
    align-items: flex-end; 
    width: 50%; 
    height: 100%;
}
.divImgCarou {
    height: 100%;
    width: 100%;
}
.divImgCarou img {
    /* height: 550px;
     */
     height: 100%;
     width: 100%;
}




.divCarouselRelative{
    position: relative;
    margin-top: 7vh;
}

/* ------- ARROWS --------- */
.previous {
    display: flex; 
    top: 0; 
    bottom: 0; 
    left: 0;
    z-index: 20; 
    padding: 0.75rem; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer; 
    opacity: 0.35; 
}
.previous:hover {
    opacity: 1; 
}

.absolute {
    position: absolute;

}
.bgArrow{
    background-color: #5a8e7a;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dNone {
    display: none;
}



.next {
    display: flex; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 20; 
    padding: 0.75rem; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer; 
    opacity: 0.35; 

}

.next:hover {
    opacity: 1; 
}


.arrow {

    color: white;
    font-size: x-large;
    /* background-color: #5a8e7a;
    padding: 20px;
    border-radius: 50%; */
}

/* TABLETTES */
@media (min-width: 701px) and (max-width: 1000px) {
    .carouselContainer{
        height: 80dvh;
        margin-top: 30dvh;

    }
    .divFriend,.divInvest,.leftCarouselLorem, .carouBtn{
        font-size: medium;
    }
}
/* TELEPHONE */
@media (max-width: 700px){
    .next {
        top: auto;
        bottom: 0!important;
    }
    .previous {
        top: auto;
        bottom: 0!important;
    }
    .carouselContainer{
        height: 50vw;
        margin-top: 30dvh;
        font-size: 5px!important;
    }
    .divFriend,.divInvest,.leftCarouselLorem, .carouBtn{
        font-size: x-small;
    }
    .carouBtn{
        padding-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 5px;
    }
    .leftCarousel{
        /* font-size: 10px!important; */
        gap: 5px;
        /* display: none; */
    }
    .leftCarouselTop{
        font-size: smaller;
        display: none;
    }
}